<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>501932235014-26jotuacqm66ftha6r42t482k0ru89m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501932235014-26jotuacqm66ftha6r42t482k0ru89m0</string>
	<key>API_KEY</key>
	<string>AIzaSyBgLOjcec0IzRle0BWvGjmJRZmxfGerELE</string>
	<key>GCM_SENDER_ID</key>
	<string>501932235014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cc.foxtail.RxTodo</string>
	<key>PROJECT_ID</key>
	<string>rxtodo-b2b00</string>
	<key>STORAGE_BUCKET</key>
	<string>rxtodo-b2b00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:501932235014:ios:19f48d0ce9f626ee</string>
	<key>DATABASE_URL</key>
	<string>https://rxtodo-b2b00.firebaseio.com</string>
</dict>
</plist>